.box {
  position: absolute;
  text-align: left;
  padding: 2rem 2rem 6rem 2rem;
  height: fit-content;
  max-height: 75vh;
  left: 50%;
  right: 0;
  top: 50%;
  width: 50vw;
  background: white;
  border-radius: 2rem;
  z-index: 10 !important;
  box-shadow: 0 0 50px 0 rgba(black, .5);
  transition: 1s ease-in-out transform;
  color: black;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  overflow: hidden;
  hyphens: auto;

  &__error {
    position: absolute;
    width: calc(100% - 4rem);
    background: #e2adad;
    color: #b11414;
    font-size: 1rem;
    border-radius: 1rem;
    bottom: 2rem;
    padding: 1rem;
    z-index: 100;
  }

  &__content {

    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: auto;
    max-height: calc(75vh - 8rem);

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: .5rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: .5rem;
      width: .5rem;
      background-color: rgba(0, 0, 0, .5);
      border: 1px solid rgba(0, 0, 0, .25);
    }

    > span {
      display: block;
      color: black;
      font-size: 1rem;
      margin: 1rem 0;
      font-family: gls_small, sans-serif;
    }

    ul {
      margin: 1rem 0;

      > li {
        margin: .5rem 0;
      }
    }

    &__heading {
      display: flex;
      justify-content: space-between;

      > h1 {
        display: block;
        color: black;
      }

      &__image {
        position: relative;

        > img {
          width: 100%;
        }
      }
    }

  }

  &__buttons {
    z-index: 5;
    position: absolute;
    bottom: 2rem;
    left: 2rem;

    > button {
      margin: 0;

      &:first-child {
        margin-right: 1rem;
      }
    }

  }

  &__points {
    z-index: 5;
    display: none;
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    &__point {
      margin-right: .5rem;
      display: inline;
      position: relative;
      width: 1rem;
      height: 1rem;
      border-radius: 50rem;
      border: 1px solid #141ab1;

      &:last-child {
        margin-right: 0;
      }

      &-active {
        background: #141ab1;
      }
    }
  }
}

@media (max-width: 1000px) {
  .box {
    width: 100vw;

    &__points {
      display: none;
    }
  }
}

@media (min-width: 700px) {
  .box {

    &__points {
      display: flex;
    }
  }
}