.radio-selection {

  &__input {
    font-size: 1rem;
    margin: .5rem .7rem;
    padding: .5rem;
    position: relative;
    display: flex;
    cursor: pointer;

    &-active {
      border-radius: .5rem;
      width: fit-content;
      height: 100%;
      background: rgba(#fad100, .25);
    }

    > input[type="radio"] {
      aspect-ratio: 50/50;
      appearance: none;
      background-color: #fff;
      font: inherit;
      width: 1rem;
      height: 1rem;
      margin-right: .5rem;
      border: 2px solid #fad100;
      border-radius: 50rem;
      cursor: pointer;
      position: relative;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        content: "";
        opacity: 0;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50rem;
        background: #fad100;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1rem 1rem #fad100;
      }

      &:checked:before {
        opacity: 1;
      }

    }
  }
}