.radio-selection {

  &__input {

    display: flex;
    font-size: 1rem;
    margin: .5rem .7rem;


    > label {
      padding: .5rem;
      position: relative;
    }

    > input[type="radio"] {
      appearance: none;
      background-color: #fff;
      font: inherit;
      width: 1rem;
      height: 1rem;
      margin-right: .5rem;
      border: 2px solid #fad100;
      border-radius: 50rem;
      transform: translateY(7px);
      cursor: pointer;
      position: relative;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: scale(0) translateX(-50%) translateY(-50%);
        content: "";
        width: 0.65rem;
        height: 0.65rem;
        border-radius: 50%;
        background: #fad100;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1rem 1rem #fad100;
      }

      &:checked:before {
        top: 50%;
        left: 50%;
        transform: scale(1) translateX(-50%) translateY(-50%);
      }

      &:checked+label:before {
        content: "";
        position: absolute;
        border-radius: 50rem;
        top: 0;
        left: -38px;
        width: calc(100% + 46px);
        height: 100%;
        z-index: -1;
        background: rgba(#fad100, .25);
      }

    }
  }



}